# Configuration created by Apache Sling JCR Installer
scripts=["create\ service\ user\ aemgeeks-service-user\ with\ path\ /home/users/system/geeks/aemgeeks-service-user","set\ ACL\ for\ aemgeeks-service-user\r\nallow\ jcr:read,rep:write,crx:replicate\ on\ /content/cmscoeinterview\r\nallow\ jcr:read\ on\ /conf/cmscoeinterview\r\nallow\ jcr:read\ on\ /apps\r\nend","create\ group\ geeks-users\ with\ path\ /home/groups/geeks-users\r\nset\ ACL\ for\ geeks-users\r\nallow\ jcr:read,rep:write,crx:replicate\ on\ /content/cmscoeinterview\r\nallow\ jcr:read,rep:write\ on\ /conf/cmscoeinterview\r\nallow\ jcr:read,rep:write\ on\ /apps/cmscoeinterview\r\nallow\ jcr:read,rep:write\ on\ /home\r\nallow\ jcr:read\ on\ /\r\nend","create\ user\ geeks-admin\ with\ path\ /home/users/geeks/geeks-admin\ with\ password\ 12345\r\nadd\ geeks-admin\ to\ group\ geeks-users"]
references=[""]
